MYSQL_DATABASE=advocacy_studio
MYSQL_USER=advocacy_user
MYSQL_PASSWORD=replace-me
MYSQL_ROOT_PASSWORD=replace-me

DB_URL=jdbc:mysql://mysql-db:3306/advocacy_studio
DB_USERNAME=advocacy_user
DB_PASSWORD=replace-me